@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 6
   Case Problem 3

   Calendar Style Sheet
   Author: Nicholas Le
   Date: 12/12/18   

   Filename:   lht_tables.css

*/

/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/
/* This designs the table in mobile to have two columns, to hide the weekdays and to add color to the table.*/
@media only screen and (max-width: 640px) {

    table,
    tbody,
    tr,
    td,
    th,
    caption {
        display: block;
    }

    thead th {
        display: none;
    }

    tbody h1 {
        display: none;
    }

    caption {
        color: white;
        background-color: gray;
        font-size: 1.5em;
        line-height: 2em;
    }

    td {
        border: 1px dotted gray;
        color: rgb(11, 12, 145);
        position: relative;
        padding-left: 42%;
        min-height: 40px;
    }

    tr:nth-of-type(odd) {
        background-color: rgb(255, 235, 178);
        border: 2px solid gray;
    }

    td::before {
        content: attr(data-date);
        position: absolute;
        left: 0;
        top: 0;
        width: 40%;
        padding: 5px;
    }
}



/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/
/* This designs the table for computers and adds color, shadows, and a transparent background image to the table. */
@media only screen and (min-width: 641px) {
    table {
        background: url(lht_photo1.png) no-repeat;
        background-size: 40%;
        width: 85%;
        background-position: 100% 100%;
        border: 6px double rgb(154, 64, 3);
        border-collapse: collapse;
        margin: 20px auto 20px auto;
    }
    th, td {
        border: 1px solid gray;
        font-size: 0.85em;
        font-weight: normal;
        padding: 5px;
        vertical-align: top;
        width: 14.28%;
        word-wrap: normal;
    }
    td {
        background-color: rgba(171, 171, 171, 0.6);
        color: rgb(11, 12, 145); 
    }
    td[data-date*="Feb"] {
        background-color: rgba(232, 214, 148, 0.6);
        box-shadow: gray 0px 0px 20px inset;

    }
    caption {
        caption-side: top;
        padding-bottom: 10px;
        font-size: 1.2em;
        letter-spacing: 3px;
    }
    th {
        background-color: rgb(154, 64, 3);
        color: white;
    }
}









